<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi-HTT</title>
    <!-- Include the Tailwind CDN script -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- You can also link your own custom CSS file here if needed -->
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="sticky w-full h-16">
        <div class="w-full h-full flex flex-row justify-between items-center px-5 shadow ">
            <p class="text-2xl font-bold text-black">Multi-HTT</p>
            <div class="flex flex-row lg:mr-10 h-16">
                <a href="/" class="nav py-5">
                    <i class="icon-home lg:hidden"></i><span class="hidden lg:inline">Home</span>
                </a>
                <a href="/Datasets" class="nav py-5">
                    <i class="icon-datasets lg:hidden"></i><span class="hidden lg:inline">Datasets</span>
                </a>
                <a href="/Researcher" class="nav py-5">
                    <i class="icon-researcher lg:hidden"></i><span class="hidden lg:inline">Researcher</span>
                </a>
                <a href="/About" class="nav py-5 border-black border-b-2">
                    <i class="icon-about lg:hidden"></i><span class="hidden lg:inline">About</span>
                </a>
            </div>
        </div>
    </div>

    <div class="mt-10 mx-10 flex flex-col justify-center items-center">
        <div class="flex flex-row space-x-1 items-center mb-10">
            <i class="icon-about"></i>
            <h1 class="text-3xl font-bold text-gray-700">About</h1>
        </div>
        <div class="mx-10 sm:mx-40 p-6 mb-5 w-[1000px] slide-up-element">
            <details class="hover:cursor-pointer hover:bg-gray-100 duration-300">
                <summary class="text-xl p-4">1. About Multi-HTT</summary>
                <p class="ml-5 pb-3">
                    Multi-HTT is a machine learning-based web application designed to predict the yields of three major products from hydrothermal treatment (HTT) of biomass: Bio-oil, Bio-char, and Bio-gas. The predictive model was developed using the XGBoost algorithm trained on 1,010 data points collected from 180 published studies (2011–2025).
                </p>
            </details>
            
            <hr>
            <details class="hover:cursor-pointer hover:bg-gray-100 duration-300">
                <summary class="text-xl p-4">2. How It Works</summary>
                <p class="ml-5 pb-3">
                    Users can input 15 features including:

                    Operating conditions: Residence time, Temperature, Pressure, Biomass loading, Reactor size, Water content, Water-to-BL ratio
                    Elemental properties: C, H, N, O, S, H/C, O/C, HHV

                    The model simultaneously predicts the yields of Bio-oil, Bio-char, and Bio-gas (in %w/w).
                </p>
            </details>
            
            <hr>
            <details class="hover:cursor-pointer hover:bg-gray-100 duration-300">
                <summary class="text-xl p-4">3. Citation</summary>
                <p class="ml-5 pb-3">
                    If you use this tool in your research, please cite:
                    Katongtung T., Sukpancharoen S., Katahira M., Phienluphon A., Tippayawong N. (2025). Integrated machine learning models for prediction of multiphase products from hydrothermal treatment of biomass. Renewable Energy. DOI: 10.1016/j.renene.2026.125200
                </p>
            </details>
            
            <hr>
            <details class="hover:cursor-pointer hover:bg-gray-100 duration-300">
                <summary class="text-xl p-4">4. Disclaimer</summary>
                <p class="ml-5 pb-3">This tool is intended for research and educational purposes only. Predictions are based on literature-derived data and may not reflect all real-world conditions. Users should validate results experimentally before practical applications.
                </p>
            </details>
            
            <hr>
            <details class="hover:cursor-pointer hover:bg-gray-100 duration-300">
                <summary class="text-xl p-4">5.  Contact & Feedback</summary>
                <p class="ml-5 pb-3">
                    For questions, suggestions, or bug reports, please contact:
                    <span class="text-red-700">📧 sombsuk@kku.ac.th</span>
                </p>
            </details>
            
            <hr>
        </div>
    </div>
</body>
</html>
