<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi-HTT</title>
    <!-- Include the Tailwind CDN script -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- You can also link your own custom CSS file here if needed -->
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="sticky w-full h-16">
        <div class="w-full h-full flex flex-row justify-between items-center px-5 shadow ">
            <p class="text-2xl font-bold text-black">Multi-HTT</p>
            <div class="flex flex-row lg:mr-10 h-16">
                <a href="/" class="nav py-5">
                    <i class="icon-home lg:hidden"></i><span class="hidden lg:inline">Home</span>
                </a>
                <a href="/Datasets" class="nav py-5">
                    <i class="icon-datasets lg:hidden"></i><span class="hidden lg:inline">Datasets</span>
                </a>
                <a href="/Researcher" class="nav py-5 border-black border-b-2">
                    <i class="icon-researcher lg:hidden"></i><span class="hidden lg:inline">Researcher</span>
                </a>
                <a href="/About" class="nav py-5">
                    <i class="icon-about lg:hidden"></i><span class="hidden lg:inline">About</span>
                </a>
            </div>
        </div>
    </div>

    <div class="mt-10 flex flex-col justify-center items-center">
        <div class="flex flex-row space-x-1 items-center mb-10">
            <i class="icon-researcher"></i>
            
            <h1 class="text-3xl font-bold text-gray-700">Researcher</h1>
        </div>
        <!-- Grid start -->
        <div class="grid gap-y-16 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 m-5 md:mx-20 slide-up-element">
            <!-- First person -->
             <div class="relative h-36 2xl:h-28 ring-2 hover:ring-4 hover:ring-gray-200 duration-300 ring-gray-400 p-3 rounded-tl-lg rounded-br-lg">
                <h1 class="font-bold text-xl">Tossapon Katongtung</h1>
                <p class="text-sm text-gray-600">
                    PhD Student
                </p>
                <span class="text-gray-600">Chiang Mai University</span>
                <div class="min-w-36 flex flex-row items-center duration-300 space-x-1 bg-gray-400 w-fit hover:scale-105 rounded-xl py-1 px-2 absolute -bottom-[30px] right-2">
                    <i class="icon-email mr-1"></i>
                    <span class="text-sm font-bold text-white">Tossapon.katongtung@gmail.com</span>
                </div>
            </div>
            <div class="relative h-36 2xl:h-28 ring-2 hover:ring-4 hover:ring-gray-200 duration-300 ring-gray-400 p-3 rounded-tl-lg rounded-br-lg">
                <h1 class="font-bold text-xl">Assoc. Prof. Dr. Somboon Sukpancharoen</h1>
                <p class="text-sm text-gray-600">
                    Department of Agricultural Engineering 
                </p>
                <p class="text-sm text-gray-600">Faculty of Engineering</p>
                <span class="text-gray-600">Khon Kaen University</span>
                <div class="min-w-36 flex flex-row items-center duration-300 space-x-1 bg-gray-400 w-fit hover:scale-105 rounded-xl py-1 px-2 absolute -bottom-[30px] right-2">
                    <i class="icon-email mr-1"></i>
                    <span class="text-sm font-bold text-white">sombsuk@kku.ac.th</span>
                </div>
            </div>
            <div class=" relative h-36 2xl:h-28 ring-2 hover:ring-4 hover:ring-gray-200 duration-300 ring-gray-400 p-3 rounded-tl-lg rounded-br-lg">
                <h1 class="font-bold text-xl">Prof. Dr. Masato Katahira</h1>
                <p class="text-sm text-gray-600">
                    Institute of Advanced Energy
                </p>
                <span class="text-gray-600">Kyoto University</span>
                <div class="min-w-36 flex flex-row items-center duration-300 space-x-1 bg-gray-400 w-fit hover:scale-105 rounded-xl py-1 px-2 absolute -bottom-[30px] right-2">
                    <i class="icon-email mr-1"></i>
                    <span class="text-sm font-bold text-white">katahira.masato.6u@kyoto-u.ac.jp</span>
                </div>
            </div>
            <div class="relative h-36 2xl:h-28 ring-2 hover:ring-4 hover:ring-gray-200 duration-300 ring-gray-400 p-3 rounded-tl-lg rounded-br-lg">
                <h1 class="font-bold text-xl">Dr. Apisan Phienluphon</h1>
                <p class="text-sm text-gray-600">
                    Institute of Advanced Energy
                </p>
                <span class="text-gray-600">Kyoto University</span>
                <div class="min-w-36 flex flex-row items-center duration-300 space-x-1 bg-gray-400 w-fit hover:scale-105 rounded-xl py-1 px-2 absolute -bottom-[30px] right-2">
                    <i class="icon-email mr-1"></i>
                    <span class="text-sm font-bold text-white">phienluphon.apisan.7y@kyoto-u.ac.jp</span>
                </div>
            </div>
            <div class="relative h-36 2xl:h-28 ring-2 hover:ring-4 hover:ring-gray-200 duration-300 ring-gray-400 p-3 rounded-tl-lg rounded-br-lg">
                <h1 class="font-bold text-xl">Prof. Dr. Nakorn Tippayawong</h1>
                <p class="text-sm text-gray-600">
                    Department of Mechanical Engineering 
                </p>
                <p class="text-sm text-gray-600">Faculty of Engineering</p>
                <span class="text-gray-600">Chiang Mai University</span>
                <div class="min-w-36 flex flex-row items-center duration-300 space-x-1 bg-gray-400 w-fit hover:scale-105 rounded-xl py-1 px-2 absolute -bottom-[30px] right-2">
                    <i class="icon-email mr-1"></i>
                    <span class="text-sm font-bold text-white">n.tippayawong@yahoo.com</span>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>
